@charset "UTF-8";
.galeria{
	background-color: gray;
	width: 96%;
	float: left;
	margin: 2%;
	height: 120px;
}
.galeria1{
	background-color: gray;
	width: 96%;
	float: left;
	margin: 2%;
	height: 120px;
}
.encabezado{
	background-color: gray;
	height: 60px;
	width: 100%;

}
.footer{
	background-color: gray;
	width: 29%;
	height: 500px;
	float: left;
	margin: 2%;
	margin-bottom: 20px;
}
.espacio{
	clear:both;
}